.button {
	height: 48px;
	padding: 8px 16px;
	border-radius: 8px;
	border: none;
	font-weight: 700;
	transition: background-color 250ms;

	&:hover {
		cursor: pointer;
	}
}

.neutral {
	background-color: #3498db;

	&:hover {
		background-color: #2980b9;
	}
}

.success {
	background-color: #2ecc71;

	&:hover {
		background-color: #27ae60;
	}
}

.danger {
	background-color: #e74c3c;

	&:hover {
		background-color: #c0392b;
	}
}
